body,
html {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 50%;
  font-family: 'Times New Roman', serif;
  background-color: #eae1a1;
}

#homeView h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: #70bbcc;
    font-size: 5rem;
}


.star-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.button {
    color: #e79323;
    font-size: 10em; 
    position: relative;
    cursor: pointer;
    transition: transform 0.13s;

}

.button:hover {
    transform: scale(1.1);
}

.subpages {
    display: none;
    font-family:'Brigadier Sans';
    position: absolute;
    padding: 20px;
    border-radius: 10px; /* round the corners!*/
    text-align: center; /* center text */
    width: 100px; /* width of subpages */
    margin-right: 3rem;
    margin-top: -10px;

}




.subpages a {
    width: 100px; 
    height: 100px; 
    background-color: #70bbcc;
    color: #eae1a1; 
    text-decoration: none; /* remove underline ew */
    margin: 10px; /*spacing between subpages */
    font-size: 1.2em; 
    transition: transform 0.13s;
    border-radius: 50%; /* circular */
    display: flex; 
    justify-content: center; /*horizontally */
    align-items: center; 
 
}

.subpages a:hover {
    transform: scale(1.1); 
}

.star-container:hover .subpages {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.view {
    display: none;
}

#homeView {
    display: block;
}

#artworkView{
    display: none; /* hide the details page first like in the generalized view */
}



.home {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-family:'Brigadier Sans';
    font-size: 1.5rem;
    background-color: #e79323;
    color: #70bbcc;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.home:hover {
    transform: scale(1.1);
}

/*Subpage Grid*/ 

.grid-container{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*make a row/column grid layout*/ 
    margin-top: 20px; 
}

.grid-item {
    background-color: #e79323;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
}


.grid-item img {
    width: 65%; 
    height: auto;
    border-radius: 12px;
}

.artwork-description h2 { /*accessing header versus paragraph*/ 
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.artwork-description p {
    font-size: 1.2rem;
    color: #171717;
    line-height: 1.6;
}


/*idea form styling*/ 

#ideaView {
    text-align: center; 
}

#ideaView h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: #70bbcc;
    font-size: 2rem;
}



input[type="text"]{
    width:50%; /* all of its container  */
    height: 150px; 
    padding: 5px; 
    font-size: 1.5rem; 
    background-color: #e79323;
    color:#000000;
    border: 1px solid #98c9ea; 
    border-radius: 12px; 
    resize: vertical; /* resizing */
    box-sizing: border-box; 
    margin-bottom: 10px; /* space between buttpn  */
}
    


button[id="create"] {
    background-color: #e79323; 
    color: #70bbcc;; 
    padding: 10px 20px; /* Padding inside the button */
    font-size: 1.5rem; 
    border: none; 
    border-radius: 12px; /* Rounded corners */
    cursor: pointer; 
}

button[id="edit"]{
    background-color: #e79323; 
    color: #70bbcc;; 
    padding: 10px 20px; /* padding inside the button */
    font-size: 1.5rem; 
    border: none; 
    border-radius: 12px; /* Rounded corners */
    cursor: pointer; 

}

button[id="delete"]{
    background-color: #e79323; 
    color: #70bbcc;; 
    padding: 10px 20px; /* padding inside the button */
    font-size: 1.5rem; 
    border: none; 
    border-radius: 12px; /* Rounded corners */
    cursor: pointer; 

}

button[id="display"]{
    background-color: #e79323; 
    color: #70bbcc;; 
    padding: 10px 20px; /* padding inside the button */
    font-size: 1.5rem; 
    border: none; 
    border-radius: 12px; /* Rounded corners */
    cursor: pointer; 
}


#ideas {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e79323;
    color:#eae1a1;
  }

label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Brush Script MT', cursive;
    color: #70bbcc;
    font-size: 1.5rem;
  }

.artwork-container {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 20px;
}



.artwork-title{
    text-align: center;
    font-family: 'Brigadier Sans';
    color: #eae1a1;
    font-size: 1.5rem;
    margin-top: 10px; 
    margin-bottom: 10px;
    padding-bottom: 5px; 



}

#canvasView h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: #70bbcc;
    font-size: 2rem;

}

#garmentsView h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: #70bbcc;
    font-size: 2rem;

}

#digitalView h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: #70bbcc;
    font-size: 2rem;

}







/*about me view*/ 

#aboutmeView {
    display: none; 
}



#aboutmeView h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: #70bbcc;
    font-size: 2rem;


}

.image-container{
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin-bottom: 20px;
}


.image-container img {
    max-width: 50%; 
    height: auto; 
    border-radius: 12px;
  }


#aboutmeView p {
    text-align: center;
    font-size: 1.4rem; 
    font-family: 'Brigadier Sans';
    line-height: 1.6; 
    color: #000000; 
    margin-bottom: 20px; 
}






/*artwork*/






.artwork-container {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 20px;
}

.hidden-des{
    display: none;
}

.artwork-description {
    text-align: right;
    font-family: 'Brigadier Sans';
    color: #000000;
    font-size: 2rem;
}

